@model IEnumerable<gowa.Models.Car>

@{
    ViewBag.Title = "Cars";
}

<h2>Cars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm })</th>
        <th>@Html.ActionLink("Horse Power", "Index", new { sortOrder = ViewBag.PowerSortParm })</th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workshop.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorsePower)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
