@model gowa.ViewModels.WorkshopIndexData

@{
    ViewBag.Title = "Workshops";
}

<h2>Workshops</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.ActionLink("Name","Index",new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm })</th>
        <th></th>
    </tr>

@foreach (var item in Model.Workshops)
{
    string selectedRow = "";
    if(item.ID == ViewBag.WorkshopID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
     
        <td>
            @Html.ActionLink("Select", "Index", new { id = item.ID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

@if(Model.Cars != null)
{
    if(Model.Cars.Count()!=0 )
    { 
    <h3>Car available in the selected Workshop</h3>
    <table class="table">
        <tr>
            <th>Model</th>
            <th>Horse Power</th>
            <th></th>

        </tr>
        @foreach (var item in Model.Cars)
        {
          <tr>
              <td>
                  @item.Model.Name
              </td>
              <td>
                  @item.HorsePower
              </td>
          </tr>
        }
    </table>
    }
    else
    {
        <h3>There is no car available in the selected Workshop</h3>
    }
}